body {
  background-color: #5d6675;
}

.contain {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  background-color: lightgray;
  border-radius: 8px;
  margin: 10px;
  padding: 16px;
}

.header-title {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  padding: 16px;
}

.header-description {
  margin: 0;
  padding: 16px;
}

.required-text {
  color: red;
  margin: 0;
  margin-bottom: 0;
  padding: 16px;
}

.input-title {
  margin-top: 0;
  margin-bottom: 30px
}

.subBox {
  padding-top: 24px;
  padding-bottom: 24px;
}

.input-filed {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  width: 50%;
}

.input-filed:focus{
  outline: none;
  border-bottom: 1px solid black;
}

.button-group {
  padding: 24px;
  display: flex;
  justify-content: space-around;
}

.button {
  width: 100%;
  max-width: 100px;
  padding: 6px 0;
  border-radius: 8px;
  border: 0;
}